extends layout

block content
	h1= title
	p Let's browse some jobs!

	.job-grid 
		each job in jobs
			.job--entry
				a(href=`/job/${job._id}`).jobLink
				.title= job.title
				.company #{job.company}, #{job.city}, #{job.country}
				//- .created Posted #{job.createdDate}
				.expiry Deadline #{job.expiryDate}
				.tags Tags: #{job.jobField}