extends layout

block content
	h1.pageTitle Browsing jobs

	.job-grid 
		each job in jobs
			.job--entry
				a(href=`/job/${job._id}`).jobLink
				.title= job.title
				.company #{job.company}, #{job.city}, #{job.country}
				- const bodyString = job.body.substring(0, 100) + "..."
				.body #{bodyString}
				//- .created Posted #{job.createdDate}
				.tags Tags: #{job.jobField}
				.expiry Deadline #{job.expiryDate}

//- var trucatedText = yourtext.substring(0, 3) + '...';  // substring(from, to);