extends layout
block content
	.singleJobField #{jobDetails.jobField}

	if !jobDetails.isActive
		.inactiveDisclaimer 
			| This job is listed as inactive. Maybe #{jobDetails.company} already found their new girl/guy!
			br
			a(href="/").browseJobs Browse active jobs here
	else 
		null

	h1.pageTitle= jobDetails.title
	.singleJobContainer
		.singleJobContent
			.location @ #{jobDetails.city}, #{jobDetails.country}
			p!= jobDetails.body
		.singleJobSidebar
			.created 
				| Job posted on 
				br
				| #{jobDetails.createdDate}
			.company #{jobDetails.company}
			.deadline 
				| Apply before it's too late: 
				br
				| #{jobDetails.expiryDate} 	